Source: ondevice
Section: python
Priority: extra
Maintainer: ondevice.io team <info@ondevice.io>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.9.5

Package: ondevice
Architecture: any
Pre-Depends: dpkg (>= 1.15), ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Recommends: openssh-server, x11vnc
Breaks: ondevice-python3.4 (<< 0.3.3)
Replaces: ondevice-python3.4 (<< 0.3.3)
Description: official ondevice.io client
 See https://ondevice.io/ for details
 .
 This is the ondevice client for debian based distributions
