Source: ondevice
Section: python
Priority: extra
Maintainer: ondevice.io team <info@ondevice.io>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.9.5

Package: ondevice
Architecture: all
Pre-Depends: dpkg (>= 1.15)
Depends: ondevice-python3.5 (= ${binary:Version}, ondevice-python3.4 (= ${binary:Version}, ondevice-python2.7 (= ${binary:Version}))), ondevice-python2.6 (= ${binary:Version})
Description: ondevice.io client meta package
 This meta package will install the ondevice package matching the python version available on your system.
 .
 See https://ondevice.io/ for details.
